In [1]:
from urllib.request import urlopen
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import re

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
#Get Hawkeye data from cricket api
def get_url_hawkeye(match_id):
    try:
        url = f'https://cricketapi-icc.pulselive.com//fixtures/{match_id}/uds/stats'
    except:
        url = f'https://cricketapi.platform.iplt20.com//fixtures/{match_id}/uds/stats'
    return url

In [4]:
#Get scoring data from cricket api
def get_url_metadata(match_id):
    try:
        url = f'https://cricketapi-icc.pulselive.com//fixtures/{match_id}/scoring'
    except:
        url = f'https://cricketapi.platform.iplt20.com//fixtures/{match_id}/scoring'
    return url

In [5]:
#Get the data in the parsed html format
def get_soup_from_url(url):
    try:
        html = urlopen(url).read()
    except HTTPError:
        print("Link Cannot be Reached", url)
        return -1
        
    #soup = BeautifulSoup(html,"lxml")
    soup = BeautifulSoup(html,"html.parser")
    return str(soup)

In [6]:
def get_tracking_df_from_matchid(match_id):
  try:
    df = pd.DataFrame(
        [[k]+v.split(',') for i in json.loads(get_soup_from_url(get_url_hawkeye(match_id)))['data'] 
         for k,v in i.items()],
        columns = ['over','ball_num','batter','non-striker',
                   'bowler','speed','catcher','dismissal_desc',
                   'total_extras','runs','bowler_extras','extra_type',
                  'otw','length','line','line_at_stumps',
                  'height_at_stumps','shot_dist0','shot_dist1','blank2',
                   'blank3','blank4']
    )
    df['match_id'] = str(match_id)
    if ((df.shape[0] == 0) | 
       ((df.speed.nunique() == 1) & 
        (df.length.nunique() == 1) & 
        (df.line.nunique() == 1) & 
        (df.line_at_stumps.nunique() == 1) & 
        (df.height_at_stumps.nunique() == 1))) :
        return
    else:
      df['over'] = df.over.apply(lambda x: str(x).split('.'))
      df['match_inn'] = df.over.apply(lambda x: x[0])
      df['over_ball'] = pd.to_numeric(df.over.apply(lambda x: x[2]), errors='coerce')
      df['over_num'] = pd.to_numeric(df.over.apply(lambda x: x[1]), errors='coerce')
      df.drop('over', axis=1, inplace=True)

      df['speed'] = pd.to_numeric(df['speed'], errors='coerce')*3.6
      df.loc[df.speed < 0, 'speed'] = np.nan

      df['length'] = pd.to_numeric(df['length'], errors='coerce')
      df['line'] = pd.to_numeric(df['line'], errors='coerce')
      df['line_at_stumps'] = pd.to_numeric(df['line_at_stumps'], errors='coerce')
      df['height_at_stumps'] = pd.to_numeric(df['height_at_stumps'], errors='coerce')
      df['deviation'] = df.line_at_stumps - df.line
      return df
  except:
    print(f"couldn't retrieve data for match {match_id}. Please check {get_url_hawkeye(match_id)} to debug")
    return

In [7]:
wtc=get_tracking_df_from_matchid(23498)

In [8]:
def get_metadata_df_from_matchid(match_id):
  m = json.loads(get_soup_from_url(get_url_metadata(match_id)))
  this_match = pd.DataFrame([{k: v for k,v in m['matchInfo'].items() if k in [
    'matchDate', 'matchEndDate','isLimitedOvers', 'description', 'matchType', 'tournamentLabel']}])
  this_match['match_id'] = match_id
  try:
      this_match['toss_elected'] = m['matchInfo']['additionalInfo']['toss.elected']
  except:
      this_match['toss_elected'] = ''
  this_match['venue_id'] = m['matchInfo']['venue']['id']
  try:
      this_match['team1_wk'] = m['matchInfo']['teams'][0]['wicketKeeper']['id']
      this_match['team2_wk'] = m['matchInfo']['teams'][1]['wicketKeeper']['id']
  except:
      this_match['team1_wk'] = ''
      this_match['team2_wk'] = ''
  this_match['team1'] = m['matchInfo']['teams'][0]['team']['fullName']
  this_match['team2'] = m['matchInfo']['teams'][1]['team']['fullName']
  match_df = this_match
  venue_df = pd.DataFrame([m['matchInfo']['venue']])
  player_df = pd.concat([pd.DataFrame(m['matchInfo']['teams'][0]['players']),
                         pd.DataFrame(m['matchInfo']['teams'][1]['players'])]).drop_duplicates()
  
  #venue_df.drop('coordinates',axis=1, inplace=True)
  player_df['batter_hand'] = player_df.rightHandedBat.apply(lambda x: 'R' if x else 'L')
  player_df['bowler_hand'] = player_df.rightArmedBowl.apply(lambda x: 'R' if x else 'L')
  match_df.matchType = match_df.apply(lambda x: 'W_' + x.matchType if 
               re.search('women', x.tournamentLabel.lower()) else x.matchType,
              axis=1)
  match_df['toss_winner'] = match_df.toss_elected.apply(lambda x: str(x).strip().lower().split(',')[0])
  match_df['toss_decision'] = match_df.toss_elected.apply(lambda x: str(x).lower().strip('.').split(' ')[-1])
  match_df['toss_decision'] = match_df.toss_decision.apply(lambda x: 'field' if str(x)=='bowl' else str(x))
  match_df['toss_decision'] = match_df.toss_decision.apply(lambda x: x if str(x) in ['field','bat'] else '')
  match_df.drop('toss_elected', axis=1, inplace=True)
  return {'match_metadata': match_df,
          'player_metadata': player_df,
          'venue_metadata': venue_df}

In [9]:
wtc_meta=get_metadata_df_from_matchid(23498)

In [14]:
wtc.head(40)

,ball_num,batter,non-striker,bowler,speed,catcher,dismissal_desc,total_extras,runs,bowler_extras,extra_type,otw,length,line,line_at_stumps,height_at_stumps,shot_dist0,shot_dist1,blank2,blank3,blank4,match_id,match_inn,over_ball,over_num,deviation
0,1,5436,158,38,137.3508,-1,,0,0,0,,y,6.554,-0.190,0.011,0.649,0,0,,,,23498,1,1,1,0.201
1,2,5436,158,38,137.2248,-1,,0,0,0,,y,6.445,-0.179,0.078,0.831,0,0,,,,23498,1,2,1,0.257
2,3,5436,158,38,135.9540,-1,,0,0,0,,y,7.479,-0.537,-0.496,0.675,0,0,,,,23498,1,3,1,0.041
3,4,5436,158,38,135.0144,-1,,0,0,0,,y,7.089,-0.424,-0.370,0.886,0,0,,,,23498,1,4,1,0.054
4,5,5436,158,38,135.7884,-1,,0,0,0,,y,6.837,-0.259,-0.008,0.783,0,0,,,,23498,1,5,1,0.251
5,6,5436,158,38,120.2832,-1,,0,0,0,,y,7.859,-0.610,-0.654,0.762,0,0,,,,23498,1,6,1,-0.044
6,1,158,5436,964,129.1104,-1,,1,1,1,,y,7.095,-0.362,-0.091,0.885,34,26,,,,23498,1,1,2,0.271
7,2,5436,158,964,129.0996,-1,,1,1,1,,y,7.668,-0.262,-0.168,0.540,34,31,,,,23498,1,2,2,0.094
8,3,158,5436,964,127.8468,-1,,1,1,1,,y,8.371,-0.015,0.232,0.941,54,33,,,,23498,1,3,2,0.247
9,4,5436,158,964,126.9396,-1,,1,1,1,,y,8.002,-0.444,-0.165,0.824,16,19,,,,23498,1,4,2,0.279
10,5,158,5436,964,129.4128,-1,,1,1,1,,y,7.360,-0.100,0.328,0.804,72,22,,,,23498,1,5,2,0.428
11,6,5436,158,964,132.6672,-1,,1,1,1,,y,7.117,-0.311,-0.064,0.834,36,24,,,,23498,1,6,2,0.247
12,1,5436,158,38,139.1976,-1,,1,1,1,,y,7.943,-0.265,-0.066,0.901,14,22,,,,23498,1,1,3,0.199
13,2,158,5436,38,131.1660,-1,,1,1,1,,y,6.449,-0.599,-0.809,0.754,18,19,,,,23498,1,2,3,-0.210
14,3,5436,158,38,136.3464,-1,,6,6,6,,y,9.651,-0.378,-0.234,1.175,0,35,,,,23498,1,3,3,0.144
15,4,5436,158,38,138.2652,-1,,0,0,0,,y,7.480,-0.392,-0.339,0.845,0,0,,,,23498,1,4,3,0.053
16,5,5436,158,38,130.7844,-1,,0,0,0,,y,4.176,-0.095,-0.025,0.493,0,0,,,,23498,1,5,3,0.070
17,6,5436,158,38,125.0640,-1,,1,1,1,,y,6.047,-0.391,-0.378,0.534,49,39,,,,23498,1,6,3,0.013
18,1,5436,158,1664,142.4304,-1,,1,1,1,,y,7.784,-0.266,-0.045,0.938,34,31,,,,23498,1,1,4,0.221
19,2,158,5436,1664,144.1296,-1,,1,1,1,,y,9.525,-0.518,-0.300,1.198,14,22,,,,23498,1,2,4,0.218
20,3,5436,158,1664,144.7884,5436,c Steve Smith b Kagiso Rabada,0,0,0,,y,3.090,-0.219,-0.236,0.293,0,0,,,,23498,1,3,4,-0.017
21,4,236,158,1664,143.3556,-1,,0,0,0,,n,3.866,0.098,0.300,0.432,0,0,,,,23498,1,4,4,0.202
22,5,236,158,1664,146.3580,-1,,0,0,0,,n,-1.224,0.133,0.075,0.227,0,0,,,,23498,1,5,4,-0.058
23,6,236,158,1664,146.9340,-1,,1,1,1,,n,9.781,-0.334,0.058,1.456,49,31,,,,23498,1,6,4,0.392
24,1,236,158,1561,135.8856,-1,,1,1,1,,n,8.776,-0.148,0.148,0.921,38,42,,,,23498,1,1,5,0.296
25,2,158,236,1561,126.4068,-1,,1,1,1,,y,9.458,-0.569,-0.444,1.010,32,31,,,,23498,1,2,5,0.125
26,3,236,158,1561,136.8072,-1,,4,4,4,,n,9.437,-0.089,0.539,1.104,63,79,,,,23498,1,3,5,0.628
27,4,236,158,1561,NaN,-1,,0,0,0,,n,12.317,-0.377,0.444,1.972,0,0,,,,23498,1,4,5,0.821
28,5,236,158,1561,120.8196,-1,,1,1,1,,n,6.941,-0.003,0.310,0.588,52,22,,,,23498,1,5,5,0.313
29,6,158,236,1561,137.2392,-1,,4,4,4,,y,8.465,-0.587,-0.564,0.905,0,35,,,,23498,1,6,5,0.023
30,1,236,158,1664,140.4288,-1,,6,6,6,,n,10.550,-0.379,-0.031,1.204,0,35,,,,23498,1,1,6,0.348
31,2,236,158,1664,143.4348,236,b Kagiso Rabada,0,0,0,,n,-4.028,0.312,0.077,0.621,0,0,,,,23498,1,2,6,-0.235
32,3,3318,158,1664,145.5732,-1,,1,1,1,,n,-0.874,0.447,0.386,0.137,67,15,,,,23498,1,3,6,-0.061
33,4,158,3318,1664,144.2412,-1,,2,2,2,,y,7.417,-0.390,-0.246,0.830,18,17,,,,23498,1,4,6,0.144
34,5,158,3318,1664,141.1992,-1,,1,1,1,,y,10.210,-0.488,-0.412,1.371,18,19,,,,23498,1,5,6,0.076
35,6,3318,158,1664,139.9104,-1,,0,0,0,,n,7.796,-0.172,0.243,0.858,0,0,,,,23498,1,6,6,0.415
36,1,158,3318,6870,103.0788,-1,,1,1,1,,y,8.245,-0.323,0.063,0.748,78,39,,,,23498,1,1,7,0.386
37,2,3318,158,6870,95.1984,-1,,1,1,1,,n,7.047,0.438,0.355,0.857,74,35,,,,23498,1,2,7,-0.083
38,3,158,3318,6870,102.5388,-1,,1,1,1,,y,1.378,-0.105,-0.078,0.240,61,64,,,,23498,1,3,7,0.027
39,4,3318,158,6870,98.5896,-1,,1,1,1,,n,7.101,0.561,0.300,0.768,78,37,,,,23498,1,4,7,-0.261

In [19]:
wtc_meta['venue_metadata']

   id               fullName              shortName       city country
0  19  Narendra Modi Stadium  Narendra Modi Stadium  Ahmedabad   India